{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registrosolicituds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tratamiento</th>
                <th>Observacion</th>
                <th>Informemedicoruta</th>
                <th>Fechaaprobado</th>
                <th>Completado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registroSolicitud in registroSolicituds %}
            <tr>
                <td><a href="{{ path('registrosolicitud_show', { 'id': registroSolicitud.id }) }}">{{ registroSolicitud.id }}</a></td>
                <td>{{ registroSolicitud.tratamiento }}</td>
                <td>{{ registroSolicitud.observacion }}</td>
                <td>{{ registroSolicitud.informeMedicoRuta }}</td>
                <td>{% if registroSolicitud.fechaAprobado %}{{ registroSolicitud.fechaAprobado|date('Y-m-d') }}{% endif %}</td>
                <td>{% if registroSolicitud.completado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('registrosolicitud_show', { 'id': registroSolicitud.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('registrosolicitud_edit', { 'id': registroSolicitud.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registrosolicitud_new') }}">Create a new registroSolicitud</a>
        </li>
    </ul>
{% endblock %}
