{% extends 'base.html.twig' %}

{% block body %}
    <h1>Titulars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titular in titulars %}
            <tr>
                <td><a href="{{ path('titular_show', { 'id': titular.id }) }}">{{ titular.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('titular_show', { 'id': titular.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('titular_edit', { 'id': titular.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('titular_new') }}">Create a new titular</a>
        </li>
    </ul>
{% endblock %}
