{% extends 'menu.html.twig' %}

{% block content -%}
<div class="col-md-12">

    <h3 style="color:#3371B5">Registro de Afiliados</h3>
    <h4>Por favor llene los campos con los datos de sus afiliados</h4>

 <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Títular {{titular}}</h3>
        </div>

        <div class="panel-body"><!--contenido panel>-->
           <div class="row">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="col-md-4">
        {{ form_row(form.primerApellido) }}
        {{ form_row(form.segundoNombre) }}
        {{ form_row(form.genero) }}
        {{ form_row(form.idEstado) }}
        {{ form_row(form.idparentesco) }}
        
        
    </div>

    <div class="col-md-4">
        {{ form_row(form.segundoApellido) }}
        {{ form_row(form.idnacionalidad) }}
        {{ form_row(form.fechaNacimiento) }}
        {{ form_row(form.idMunicipio) }}
        
    </div>

    <div class="col-md-4">
        {{ form_row(form.primerNombre) }}
        {{ form_row(form.cedula) }}
        {{ form_row(form.telefono1) }}
        {{ form_row(form.idparroquia) }}
    </div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {{ form_row(form.direccion) }}
    </div>
    </div>
     <div class="col-md-3">
        {{ form_row(form.cedulaFile) }}
        {{ form_row(form.carnetFile) }}
    </div>

    <div class="col-md-12">
        <input type="submit" value="Guardar" class="btn btn-primary center-block"/>
        {{ form_end(form) }} 
    </div>

        </div> <!--/row-->
      </div> <!--/cierra panel-->
    </div><!--/cierra panel primary-->
</div><!-- /contenido  formularo-->

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type ="text/javascript" src="{{ asset('bundles/opsusalud/js/estados.js') }}"></script>
 <script type="text/javascript">
            $(function () {
                //alert('piker');
                $('#opsuhcmbundle_persona_fechaNacimiento').datetimepicker({
                viewMode: 'years',
                format: 'YYYY-MM-DD'
            });
        });
        </script>
        <script type="text/javascript">
$(document).ready(function() {
    alert("ola");

    var titular =  5;
    alert(titular);
             $.ajax({
                url: '../../listaParentesco',
                type: 'POST',
                dataType: 'json',
                data: {idTitular: titular}, //esto es un 2 el numero del estado que regresa cuando lo seleccionas
                success: function(data) {
                   alert(JSON.stringify(data));
                   var pro= data[0].parentesco;
                   //alert(pro);
                   //alert(data);
                   var $parentesco_selector = $('#opsuhcmbundle_persona_idparentesco');
                   $parentesco_selector.html('<option>Seleccione...</option>');

             for (var i=0, total = data.length; i < total; i++) {
                $parentesco_selector.append('<option value="' + data[i].id + '">' + data[i].parentesco + '</option>');
                 }
                }
            });
     return false;
});

</script>
{% endblock %}