{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afiliados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for afiliado in afiliados %}
            <tr>
                <td><a href="{{ path('afiliado_show', { 'id': afiliado.id }) }}">{{ afiliado.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('afiliado_show', { 'id': afiliado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('afiliado_edit', { 'id': afiliado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('afiliado_new') }}">Create a new afiliado</a>
        </li>
    </ul>
{% endblock %}
