{% extends '::menu.html.twig' %}

 {% block styleshets -%}
 {{ parent() }}
 {% endblock %}

{% block content -%}
<div class="col-md-12">


 <!-- contenido -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>Listado Solicitudes</h3>
          </div>
          <!--div class="col-md-6 float-right">
          <h4 style="font-size:15px;">Leyenda</h4>
              <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></buttom>
          </div-->
        </div>



 <!--formulario-->
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Listado Solicitudes</h3>
        </div>
        <div class="panel-body"><!--contenido panel>-->
          <div class="row">
                <table class="table table-responsive">
        <thead style="background-color: #005b72; color:#ffffff;">
            <tr>
                <th>Paciente</th>
                <th>Tipo de Solicitud</th>
                <th>Fecha</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>Afiliado (Padre)</td>
                <td>Reembolso</td>
                <td>Examenes</td>
                <td>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></buttom>
                </td>
            </tr>
            <tr class="info">
                <td>hijo</td>
                <td>Medicamentos</td>
                <td>Operacion</td>
                <td>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></buttom>
                </td>
            </tr>
            <tr class="info">
                <td>Conyugue</td>
                <td>Reembolso (Medicamentos)</td>
                <td>Examenes</td>
                <td>
                  <buttom class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></buttom>
                  <buttom class="btn btn-warning"><span class="glyphicon glyphicon-ok"></span></buttom>
                </td>
            </tr>
        </tbody>
    </table>     
         
        </div> <!--/row-->
         <a  class="btn btn-primary" href="{{ path('solicitud_new') }}">
                Crear Solicitud</a>
           <a  class="btn btn-primary" href="{{ path('solicitud_new') }}">
                Completar Solicitud</a>   
                       <a  class="btn btn-primary" href="{{ path('solicitud_new') }}">
                Borrar Solicitud</a>   


      </div> <!--/cierra panel-->
    </div><!--/cierra panel primary-->
</div><!-- /contenido  formularo-->

    {% endblock %}
{% block javascripts %}
{{ parent() }}
<script type ="text/javascript" src="{{ asset('bundles/bootstrap/js/modal.js') }}"></script>
{% endblock %}